# Data files
*.zip

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

.venv
*.h5
*.hdf5
*.h5ad
*.h5ad.gz
*.h5ad.gz.part
*.h5ad.gz.part.tmp
./dataset/train/*
./dataset/validation/*